.Forecast .forecastWrapper {
  background: rgba(173, 173, 171, 0.2);
  font-size: 12px;
  margin: 20px auto;
  max-width: 600px;
  padding: 10px;
  text-align: center;
}

.Forecast .weather-forecast {
  padding: 20px;
}

.Forecast .weather-forecast canvas {
  display: block;
  height: 40px;
  margin: 10px auto;
  width: 40px;
}
