.Forecast .forecastWrapper {
  background: rgba(173, 173, 171, 0.2);
  margin-top: 20px;
  max-width: 600px;
  padding: 20px;
}

.Forecast .weather-forecast {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.Forecast .weather-forecast h5 {
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}

.Forecast .weather-forecast img {
  display: block;
  height: 48px;
  margin: 0 auto;
  width: 48px;
}

.Forecast .weather-forecast-temperature {
  font-size: 12px;
  text-align: center;
}
